/* Colors */
/* Fonts */
/* Margins */
/* Paddings */
/* Borders */
html {
  font-family: sans-serif, "Poppins";
  font-size: 18px;
}

body {
  margin: 0px;
}

h1 {
  line-height: 1.5;
}

p {
  font-family: sans-serif, sans-serif;
  line-height: 1.5;
}

.main-section {
  background-image: url("../img/bg-hero-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(193, 100%, 96%);
  padding: 30px;
}

.navbar {
  display: flex;
  align-items: center;
}

.huddle-icon {
  max-width: min(40%, 200px);
  min-width: 100px;
  height: auto;
}

a:has(> .try-it-button) {
  justify-self: flex-end;
  margin-left: auto;
}

.try-it-button {
  border-radius: 40px;
  padding: 12px 55px;
  font-family: sans-serif;
  font-weight: 600;
  color: hsl(192, 100%, 9%);
  background-color: white;
  border: 0px;
  border-color: hsl(193, 100%, 96%);
  box-shadow: 0px 0px 6px 5px rgba(128, 141, 153, 0.116);
}

.section-I {
  margin: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "article image";
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.section-I > article {
  grid-area: article;
  display: flex;
  align-items: center;
}

.get-started {
  border-radius: 40px;
  padding: 15px 55px;
  border: 0px;
  background-color: hsl(322, 100%, 66%);
  color: white;
  font-weight: 600;
}

.section-I > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*min-height: 100vh;*/
  width: 100%;
  max-width: 1110px;
}

.section-I > div > img {
  grid-area: image;
  max-width: min(600px, 100%);
  height: auto;
}

.container {
  padding: 70px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  /*
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*min-height: 100vh;*/
  margin-bottom: 30px;
  padding: 40px 20px 40px 80px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 4px rgba(128, 141, 153, 0.116);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
}

.section-norm {
  grid-template-areas: "text box";
}

.section-norm > .box {
  justify-content: end;
}

.section-alt {
  grid-template-areas: "box text";
}

.section-alt > .box {
  justify-content: start;
}

.text {
  grid-area: text;
  color: hsl(208, 11%, 55%);
  align-self: center;
}

.text > h2 {
  color: black;
  margin-bottom: 0px;
}

.box {
  grid-area: box;
  width: auto;
  display: flex;
}

.box > img {
  grid-area: image;
  max-width: min(350px, 100%);
  height: auto;
}

.box h1 {
  font-size: 45px;
}

p {
  font-size: 0.8rem;
}

ul {
  align-items: center;
}

li {
  list-style: none;
}

footer {
  align-items: center;
  background: hsl(192, 100%, 9%);
  color: white;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  padding: 150px 70px 70px 70px;
  position: relative;
}

.footer-page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "col-1 col-2 col-3 col-4";
  /*grid-template-areas: 
  "col-1"
  "col-2"
  "col-3"
  "col-4";*/
}

.col-1 {
  grid-area: col-1;
}

.col-2 {
  grid-area: col-2;
}

.col-3 {
  grid-area: col-3;
}

.col-4 {
  grid-area: col-4;
}

.logo {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(66deg) brightness(106%) contrast(102%);
}

.copyright {
  bottom: 30px;
  font-size: 12px;
  position: absolute;
  right: 30px;
}

@media (max-width: 900px) {
  .section-I {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr/2;
    grid-template-areas: "article" "image";
    row-gap: 30px;
    margin: 40px 10px;
  }
  .section-I > article > div {
    text-align: center;
  }
  .section-I > div > img {
    max-width: min(500px, 100%);
  }
  .section {
    padding: 40px 30px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr/2;
    grid-template-areas: "box" "text";
    margin-bottom: 40px;
  }
  .text {
    text-align: center;
  }
  .text > h2 {
    margin-top: 60px;
  }
  .box {
    justify-content: center !important;
  }
}
@media (max-width: 400px) {
  .main-section {
    background-image: url("../img/bg-hero-mobile.svg");
    padding: 30px 20px;
  }
  .try-it-button {
    padding: 10px 20px;
  }
  .get-started {
    padding: 15px 25px;
  }
  .container {
    padding: 70px 30px;
  }
}/*# sourceMappingURL=styles.css.map */